body {
    background-color: rgb(249, 247, 247);
    margin: 0;
}


.signup {
    width: 70vh;
    margin: auto;
    padding: 40px;
    background-color: rgb(244, 234, 211);
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
}

.otp-background{
    background-image: url('../images/otp-background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.otp-container-inside{
    height: max-content;
    background-color: rgb(244, 234, 211);
    border-radius: 15px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
}

.otp-container{
    height: 80vh;
    }

.background-img {
    background-image: url('../images/signup-bgimg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form {
    width: 100%;
}

.input-txt{
    background-color: rgb(235, 219, 178);
    border-radius: 15px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
    border-color: black 5px;
}

.home {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.inputs{
    max-width: 60vh;
}