body {
    background-color: rgb(249, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.signup {
    width: 20em;
    margin-top: 2em;
    padding: 40px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
    width: 100%;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.home {
    background-color: rgb(187, 39, 39);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.home:hover {
    background-color: rgb(154, 32, 32);
}

.text-danger {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.btn-dark {
    background-color: rgb(33, 37, 41);
    border: none;
}

.btn-dark:hover {
    background-color: rgb(24, 27, 30);
    border: none;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
