body {
    background-color: rgb(249, 247, 247);
    margin: 0;
}

.background-img {
    background-image: url('../images/signin-bgimg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: auto;
    background-color: rgb(244, 234, 211);
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
} 

img{
    align-content: center;
    max-height: min-content;
    max-width: fit-content;
}
