
.footer {
    width: 100%;
    bottom: 0;
  }
  
  .socialIcon {
    display: flex;
    justify-content: center;
    
  }
  
  .socialIcon a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: rgb(192, 192, 216);
  }
  
  .socialIcon a i {
    font-size: 2em;
    color: rgb(7, 7, 6);
    opacity: 0.9;
  }
  
  .footerNav {
    margin: 30px 0;
  }
  
  .footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .footerNav ul li a {
    color: rgb(0, 0, 0);
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
  }
  
  .footerbottom {
    padding: 10px;
    text-align: center;
  }
  /* .half-ruler {
    width: 65%;
    height: 2px;
    background-color: black;
  } */
  